body{
	color: #47525e;
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;

}

h1{
	color: #009688;
	font-size: 40px;
	font-weight: 500px;
}

h2{
	color: #009688;
	font-size: 29px;
}

h3{
	color: #009688;
	font-size: 19px;
}

a{
	color: #009688;
	text-decoration: none;
}

a:hover{
	color: #999;
}

nav{
	padding: 30px;
	background-color: #fff;
	position: static;
	height: 45px;
}

nav ul{
	list-style-type: none;
	display: inline;
}

nav li{
	float: right;
	padding: 14px 16px;
	text-decoration: none;
}

#logo{
	width: 200px;
}

#homepage-search{
	background-color: #eceff1;
	position: relative;
	padding: 30px;
	height: 250px;
	width: 100%;
}

#homepage-search h1, h2{
	text-align: center;
}

form{
	margin: 0 auto;
	width: 707px;
}

#information-categories{
	position: relative;
	width: 100vw;
	height: 500px;
/*	padding: 30px;
*/}

.category-divs{
	position: relative;
	display: inline;
	float: left;
	width: 27%;
	height: 200px;
	text-align: center;
	padding: 30px;
	margin: 15px; 
}

.category-divs img{
	height: 66%;
}


footer{
	padding: 15px;
	background-color: #999;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 15px;
	font-size: 12px;
}

footer a{
	color: #fff;
}

footer a:hover{
	color: #009688;
}

footer ul{
	list-style-type: none;
	display: inline;
}

footer li{
	float: left;
	padding-left: 16px;
	text-decoration: none;	
}

